.luffy{
    background-image: url('../img/luffy.png');
}
.zoro {
    background-image: url('../img/zoro.png');
}
.nami {
    background-image: url('../img/nami.png');
}
.robin {
    background-image: url('../img/robin.png');
}